.beach-container {
    color: white;
    display:flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.beach-img {
    height: 30em;
    width: 70%;
    margin: auto;
    margin-top: 1em;
    border-radius: 10px;
    display: flex;
    gap: 1em;
}

.beach-weather {
    display: flex;
    justify-content: space-between;
    gap: 3em;
    width: 100%;
    font-size: 1.5em;
}

.beach-weather-info {
    border: 1px solid white;
    width: 35%;
    margin: auto;
    margin-top: 2em;
    background-color: #d0e0f0;
    color: black;
    padding: 1em;
    border-radius: 10px;
}

.beach-description {
    text-align: center;
    border: 1px solid white;
    display: flex;
    justify-content: space-between;
    width: 60%;
    margin: auto;
    gap: 2em;
    font-size: 1.5em;
    margin-top: 2em;
    color: black;
    border-radius: 10px;
    align-items: center;
    background-color: #d0e0f0;
    height: auto;
    padding: 15px;
}

.amenitiesicons{
    grid-template-columns: 1fr 1fr;
    gap: 1em;
}

.beach-creatures {
    width: auto;
    display: flex;
    flex-wrap: wrap;
    margin: 1em;
    justify-content: space-between;
    gap: 1.5em;
    border-radius: 10px;
}

.beach-tide {
    width: 60%;
}

.header {
    display: flex;
    flex-direction: column;
    width: auto;
    margin: auto;
    justify-content: center;
    background-color: #d0e0f0b0;
    padding: 0.5em;
    margin-top: .5em;
    border-radius: 20px;
}

.title-amenities {
    display: flex;
    justify-content: center;
}

.beach-title {
    color: black;
    width: auto;
    margin: auto;
    padding: 0.5em;
    justify-content: center;
}

.beach-map-img {
    width: 50%;
    border: 1px solid black;
    border-radius: 20px;
}

.beach-map {
    width: 50%;
    border: 1px solid black;
    border-radius: 34px;
}

.map-img {
    width: 100%;
    height: 100%;
    border-radius: 20px;
}

.amenitiesicons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}


