.card-border {
    padding: 10px;
    width: 400px;
    height: 550px;
    background-image: radial-gradient(circle, rgba(2,0,36,1) 18%, rgba(10,168,4,1) 57%, rgba(0,48,255,1) 96%);
    border-radius: 25px;
    box-shadow: 10px 10px 10px #0000008d;
    margin-bottom: 10px;
    margin-top: 10px;
}

.card-front {
    width: 400px;
    height: 545px;
    background-color: black;
    border-radius: 20px;
    color: white;
    align-content: center;
}

.card-image {
    border-radius: 20px;
    padding-top: 20px;
    display: block;
    margin-left: 25px;
    margin-right: auto;
}

.creature-type {
    font-size: 1.25em;
    font-style: italic;
    font-weight: bold;
    margin-top: 10px;
    text-align: center;
  }

.creature-name {
    font-size: 1.75em;
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 5px;
    text-align: center;
  }

  .creature-habitat {
    font-size: 1em;
    margin: 0;
    height: 90px;
    padding: 10px 10px 5px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .creature-notes {
    font-size: 1em;
    font-weight: bold;
    text-align: center;

  }