.navbar-wrapper {
    background-color: #d0e0f0;
    overflow:hidden;
}

.no-decoration{
  list-style-type: none;
}

.navbar-wrapper a{
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 1.59em;
    background-color: #d0e0f0;
}

.navbar-wrapper a:hover {
  background-color: #0001ff;
  color: black;
  color: white;
}

.navbar-wrapper a.active {
  background-color: #d0e0f0;
  color: white;
}


.navbar-links {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
  margin: 10px;
}

.inner-wrapper {
  margin-left: 5em;
  margin-right: 5em;
}