.navbar-wrapper {
    background-color: blue;
    /* height: 10vh;
    width: 100vw; */
    /* display: flex;
    position: fixed; */
    overflow:hidden
}

.no-decoration{
  list-style-type: none;
}

.navbar-wrapper a{
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;

}

.navbar-wrapper a:hover {
    background-color: #ddd;
    color: black;
  }

  /* .navbar-wrapper a.active {
    background-color: #04AA6D;
    color: white;
  } */

  .navbar-links {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-evenly;
  }