.beach-scroll-card {
    /* display:flex;
    flex-wrap: wrap;
    justify-content: space-evenly; */

    /* display:grid;
    grid-template-columns: auto auto auto; */
    
    overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
}

.beachsearch-selector {
    text-align: center;
    margin-top: 15px;
    margin-bottom: 20px;
}



.beach-search-card {
    display: inline-flex;
    /* width: 100%;
    height: 200px; */
    margin:10px;
}

::-webkit-scrollbar-thumb{
    background: white;
}

::-webkit-scrollbar{
    background-color: transparent;
}

.beachsearch-border {
    padding: 10px;
    width: 360px;
    height: 385px;
    border-radius: 25px;
    background-color: #d0e0f0d9;
    box-shadow: 10px 10px 10px #0000008d;
    margin-bottom: 10px;
    margin-top: 10px;
    border: 1px solid black;
    cursor: pointer;
}

.beachsearch-border:hover {
    border: 1px solid white;
}

.beachsearch-front {
    width: 360px;
    height: 325px;
    background-color: #0000ffad;
    border-radius: 20px;
    color: white;
    align-content: center;
}

.beachsearchcard-image {
    border-radius: 20px;
    padding-top: 20px;
    display: block;
    margin-left: 30px;
    margin-right: auto;
}

.beachsearch-location {
    font-size: 1.25em;
    font-style: italic;
    font-weight: bold;
    margin-top: 10px;
    text-align: center;
}

a {
    color: white;
    text-decoration: none;
}



.beachsearch-name {
    font-size: 1.75em;
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 5px;
    text-align: center;
    color: white;
}

.beachsearch-village {
    font-size: 1em;
    margin: 0;
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.beachsearch-amenities {
    padding-top: 30px;
    text-align: center;
    
}